<div class="jumbotron">
    <h1 class="display-4">Welcome To the Dashboard! <%= name %> </h1>
    <p class="lead">Lets Create Something Beautiful</p>
    <hr class="my-4">
    <p>Made By Daipayan Hati with Love</p>

    <p class="lead">

      <a class="btn btn-primary btn-lg" href="/users/logout" href="#" role="button">Logout</a>
    </p>
  </div>

 